<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.conceptdesignarchitect.laporanku">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity_ppspm.PilihLaporanActivity"></activity>
        <activity
            android:name=".activity_ppspm.LaporanGrafikActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity_ppspm.KontruksiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity_ppspm.UploadUangActivity" />
        <activity android:name=".activity_ppspm.BudgetingProyekActivity" />
        <activity
            android:name=".activity_ppspm.NonKontruksiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_ppspm.BudgetingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_ppspm.MainPpspmActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity_kpa_kasubdit.CekLaporanActivity" />
        <activity
            android:name=".activity_kpa_kasubdit.CekRealisasiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_kpa_kasubdit.MainKpaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_ppk.LihatRealisasiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity_ppk.LihatLaporanActivity" />
        <activity android:name=".ProfilActivity"
           android:theme="@style/aa"/>
        <activity android:name=".activity_pengawas.MingguActivity" />
        <activity
            android:name=".activity_pengawas.RealisasiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity_pengawas.PekerjaanActivity" />
        <activity
            android:name=".activity_pengawas.MainPengawasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_ppk.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_ppk.MainPPKActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>